*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-image: url(/images/humans-vs-robots.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
